.projectPage {
  margin-top: 60px;
  padding-top: 50px;
  background-color: rgb(237 235 235 / 29%);
  min-height: 100vh;

  .info-title {
    text-transform: uppercase;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }

  .desctop-info,
  .mobile-info {
    max-height: 1000px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .imgContainer {
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        transition: 7s;
        &:first-of-type {
          width: 60%;
        }
        &:last-of-type {
          position: absolute;
          top: 30px;
          z-index: -1;
          width: 55%;
        }
      }
      &:hover {
        img {
          &:last-of-type {
            transform: translateY(-90%);
          }
        }
      }

      &.lab {
        img {
          &:first-of-type {
            width: 100%;
          }
          &:last-of-type {
            width: 67%;
          }
        }
      }
    }
  }

  .mobile-info {
    margin: 40px 0;
  }

  .project-info {
    .about-project {
      color: #333;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
      padding: 10px 0;
      margin-bottom: 20px;
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
    }

    p {
      line-height: 1.7;
      color: #777;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    .made-by {
      text-align: center;
      span {
        background: #eee;
        margin-bottom: 15px;
        margin-right: 10px;
        padding: 7px 7px;
        display: inline-block;
        font-size: 14px;
        color: #777;
        border-radius: 5px;
        text-transform: capitalize;
      }
    }

    .links {
      .links-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        a {
          padding: 10px;
          background: #333;
          color: white;
          text-decoration: none;
          width: 45%;
          display: block;
          border-radius: 5px;
          text-align: center;
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
    }
  }
}
