@import "../../global.scss";

.contact {
  position: relative;
  padding-bottom: 40px;

  .c-bg {
    width: 20px;
    height: 100%;
    background-color: $mainColor;
    position: absolute;

    @include mobile {
      display: none;
    }
  }

  .c-left {
    margin-top: 40px;
    .c-title {
      font-size: 50px;
      width: 80%;

      @include mobile {
        font-size: 40px;
      }
    }

    .c-info-item {
      display: flex;
      align-items: center;
      margin: 50px 0px;
      font-weight: 300;
      width: 70%;
      .c-icon {
        width: 20px;
        height: 20px;
        margin-right: 20px;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .c-right {
    margin-top: 40px;

    .c-title {
      font-size: 50px;
      width: 80%;

      @include mobile {
        font-size: 40px;
      }
    }

    .c-links {
      .c-link {
        display: flex;
        align-items: center;
        margin: 50px 0px;
        font-weight: 300;
        width: 70%;
        .c-icon {
          width: 20px;
          height: 20px;
          margin-right: 20px;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}
